
<p style="font-size:12px"><b>Message</b></p>
<p style="font-size:11px;font-family:Monaco,'Andale Mono',Consolas,'Courier New',monospace">
<%= @message %>
</p>

<p style="font-size:12px"><b>Time</b></p>
<p style="font-size:11px;font-family:Monaco,'Andale Mono',Consolas,'Courier New',monospace">
<%= @params[:timestamp] %>
</p>

<p style="font-size:12px"><b>Complete Backtrace</b></p>
<p style="font-size:11px;font-family:Monaco,'Andale Mono',Consolas,'Courier New',monospace">
<%= @params[:backtrace] %>
</p>


